/*!
 * 菜单样式
 */
.menu-list {
  height: calc(100vh - 30px);
  overflow-y: scroll;
  width: 100%;
  .menu-group {
    display: flex;
    flex-direction: column;
  }
  .menu-item,
  .child-menu-item {
    line-height: 30px;
    display: flex;
    align-items: center;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: var(--black-color);
    margin-left: 20px;
  }
  .menu-item {
    justify-content: flex-start;
    font-weight: 600;
    &.active {
      color:var(--orange-color);
    }
  }
  .child-menu-item {
    flex-direction: column;
    .menu-item {
      justify-content: center;
      font-weight: 400;
      &:hover {
        background-image: linear-gradient(45deg, #f43f3b, #ec008c);
        color: #ffffff;
        opacity: 0.8;
      }
      &.active {
	      background-image: linear-gradient(45deg, #f43f3b, #ec008c);
	      color: #ffffff;
      }
    }
  }
  .menu-icon {
    font-size: 14px;
    margin-right: 10px;
  }
  .menu-text {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
  }
}
