/*!
 * logo
 */
.menu-logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
	.logo {
		width: 30px;
		height: 30px;
		background: url(../../../../static/image/logo.png) no-repeat center;
		background-size: contain;
		display: block;
	}
	.logo-title {
		font-size: 24px;
		color: var(--text-color);
		margin-left: 15px;
	}
}
