.app-content {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: flex-start;
	.app-left {
		display: flex;
		width: 200px;
		height: 80px;
		background: var(--background-color);
		height: 100vh;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
	}
	.app-right {
		display: flex;
		flex: 1;
		height: 100vh;
	}
}
